.banner {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    height: 80vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.banner > h1 {
    margin: 5vmax;
    font: 600 2.5vmax "Roboto"
}
.banner > p{
    font:300 1,4vmax "Lucida Sans"
}
.banner  a {
    margin-bottom: 5vmax;
    cursor: default ;

    background-color: white;
    border:5px solid white;
    border-radius: 15px;
    padding:1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font :500 1vmax "Roboto"
}
.banner a button{

    font-size: 17px;
    cursor: default;
}