.banner {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.banner>h1 {
    margin: 5vmax;
    font: 600 2.5vmax "Sans"
}

.banner>p {
    font: 300 1, 4vmax "Lucida Sans"
}

.banner ::after {
    content: "";;
    width: 100vw;
    height: 111vh;
    background-color: #ffffffff;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
}